body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:611px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1 {
  position:absolute;
  left:112px;
  top:33px;
  width:25px;
  height:25px;
}
#u2 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  position:absolute;
  left:112px;
  top:99px;
  width:375px;
  height:667px;
}
#u4 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:112px;
  top:99px;
  width:375px;
  height:667px;
  overflow:hidden;
  touch-action:none;
}
#u5_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u7 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:123px;
}
#u8 {
  position:absolute;
  left:81px;
  top:401px;
  width:214px;
  height:122px;
}
#u9 {
  position:absolute;
  left:2px;
  top:53px;
  width:210px;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  position:absolute;
  left:111px;
  top:540px;
  width:155px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u5_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u13 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:123px;
}
#u14 {
  position:absolute;
  left:81px;
  top:388px;
  width:214px;
  height:122px;
}
#u15 {
  position:absolute;
  left:2px;
  top:53px;
  width:210px;
  word-wrap:break-word;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16 {
  position:absolute;
  left:111px;
  top:540px;
  width:155px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u5_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u19 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:123px;
}
#u20 {
  position:absolute;
  left:81px;
  top:388px;
  width:214px;
  height:122px;
}
#u21 {
  position:absolute;
  left:2px;
  top:53px;
  width:210px;
  word-wrap:break-word;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22 {
  position:absolute;
  left:111px;
  top:540px;
  width:155px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u24 {
  position:absolute;
  left:120px;
  top:106px;
  width:6px;
  height:6px;
}
#u25 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u26 {
  position:absolute;
  left:129px;
  top:106px;
  width:6px;
  height:6px;
}
#u27 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u28 {
  position:absolute;
  left:138px;
  top:106px;
  width:6px;
  height:6px;
}
#u29 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u30 {
  position:absolute;
  left:147px;
  top:106px;
  width:6px;
  height:6px;
}
#u31 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u32 {
  position:absolute;
  left:156px;
  top:106px;
  width:6px;
  height:6px;
}
#u33 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u34 {
  position:absolute;
  left:168px;
  top:102px;
  width:30px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u36 {
  position:absolute;
  left:208px;
  top:104px;
  width:12px;
  height:10px;
}
#u37 {
  position:absolute;
  left:2px;
  top:-3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u38 {
  position:absolute;
  left:285px;
  top:102px;
  width:25px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
}
#u40 {
  position:absolute;
  left:435px;
  top:102px;
  width:8px;
  height:15px;
}
#u41 {
  position:absolute;
  left:2px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
}
#u42 {
  position:absolute;
  left:449px;
  top:103px;
  width:25px;
  height:14px;
}
#u43 {
  position:absolute;
  left:2px;
  top:-1px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u44 {
  position:absolute;
  left:156px;
  top:33px;
  width:49px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u46 {
  position:absolute;
  left:274px;
  top:717px;
  width:10px;
  height:10px;
}
#u46_img.selected {
}
#u46.selected {
}
#u47 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u48 {
  position:absolute;
  left:295px;
  top:717px;
  width:10px;
  height:10px;
}
#u48_img.selected {
}
#u48.selected {
}
#u49 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u50 {
  position:absolute;
  left:316px;
  top:717px;
  width:10px;
  height:10px;
}
#u50_img.selected {
}
#u50.selected {
}
#u51 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_div {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52 {
  position:absolute;
  left:112px;
  top:803px;
  width:499px;
  height:48px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  white-space:nowrap;
}
