body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:487px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53 {
  position:absolute;
  left:112px;
  top:99px;
  width:375px;
  height:667px;
}
#u54 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55 {
  position:absolute;
  left:113px;
  top:100px;
  width:373px;
  height:63px;
}
#u56 {
  position:absolute;
  left:2px;
  top:24px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u57 {
  position:absolute;
  left:112px;
  top:33px;
  width:25px;
  height:25px;
}
#u58 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u59 {
  position:absolute;
  left:120px;
  top:106px;
  width:6px;
  height:6px;
}
#u60 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u61 {
  position:absolute;
  left:129px;
  top:106px;
  width:6px;
  height:6px;
}
#u62 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u63 {
  position:absolute;
  left:138px;
  top:106px;
  width:6px;
  height:6px;
}
#u64 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u65 {
  position:absolute;
  left:147px;
  top:106px;
  width:6px;
  height:6px;
}
#u66 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u67 {
  position:absolute;
  left:156px;
  top:106px;
  width:6px;
  height:6px;
}
#u68 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u69 {
  position:absolute;
  left:168px;
  top:102px;
  width:30px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u71 {
  position:absolute;
  left:208px;
  top:104px;
  width:12px;
  height:10px;
}
#u72 {
  position:absolute;
  left:2px;
  top:-3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u73 {
  position:absolute;
  left:285px;
  top:102px;
  width:25px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
}
#u75 {
  position:absolute;
  left:435px;
  top:102px;
  width:8px;
  height:15px;
}
#u76 {
  position:absolute;
  left:2px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
}
#u77 {
  position:absolute;
  left:449px;
  top:103px;
  width:25px;
  height:14px;
}
#u78 {
  position:absolute;
  left:2px;
  top:-1px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79 {
  position:absolute;
  left:248px;
  top:239px;
  width:100px;
  height:100px;
}
#u80 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u81_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u81 {
  position:absolute;
  left:258px;
  top:362px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u83_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83 {
  position:absolute;
  left:165px;
  top:426px;
  width:45px;
  height:35px;
}
#u84 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u85 {
  position:absolute;
  left:176px;
  top:432px;
  width:22px;
  height:22px;
}
#u86 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:210px;
  top:426px;
  width:226px;
  height:35px;
}
#u87_input {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u88_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u88 {
  position:absolute;
  left:165px;
  top:486px;
  width:45px;
  height:35px;
}
#u89 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:210px;
  top:486px;
  width:226px;
  height:35px;
}
#u90_input {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:26px;
}
#u91 {
  position:absolute;
  left:177px;
  top:491px;
  width:20px;
  height:26px;
}
#u92 {
  position:absolute;
  left:2px;
  top:5px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:343px;
  top:538px;
  width:100px;
  height:16px;
}
#u94 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u93_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u95_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u95 {
  position:absolute;
  left:165px;
  top:571px;
  width:271px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u96 {
  position:absolute;
  left:2px;
  top:10px;
  width:267px;
  word-wrap:break-word;
}
#u97_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u97 {
  position:absolute;
  left:161px;
  top:34px;
  width:49px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
